<header class="header">
	<div class="container">
		<a href="#" class="logo">
			<img src="images/logo.svg" alt="logo" class="hidden-sm">
			<img src="images/logo-white.svg" alt="logo" class="visible-sm">
		</a>
		<div class="holder">
			<ul class="nav">
				<li><a href="#team" class="link-menu">Team</a></li>
				<li><a href="https://lumeos.io/whitepaper" target="_blank" class="link-menu">Whitepaper</a></li>
				<li><a href="#milestones" class="link-menu">Project Milestones</a></li>
				<li><a href="#footer" class="link-menu">Contact Us</a></li>
			</ul>
			<a href="#" class="btn btn-transparent" data-izimodal-open="#subscribe" data-izimodal-transitionin="fadeInDown">Subscribe</a>
			<div class="mobile-menu-btn visible-sm"><span></span></div>
		</div>
	</div>
	<div id="subscribe" class="modal">
		<a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
		<div class="modal-body">
			<div class="form-holder">
				<h2>Subscribe for getting permission</h2>
				<form action="#" class="subscribe-form">
					<input type="text" class="form-control" name="firstName" placeholder="First Name">
					<input type="text" class="form-control" name="lastName" placeholder="Last Name">
					<input type="email" class="form-control" name="email" placeholder="Email">
					<input type="phone" class="form-control" name="phone" placeholder="Phone number">
					<button class="btn btn-primary">Subscribe</button>
				</form>
			</div>

			<div class="thanks">
				<h3 class="thanks-title">Thank you! We've received your message. Our team will be contacting you shortly.</h3>
			</div>
			<a href="#footer" class="btn btn-transparent">Subscribe</a>
		</div>
	</div>
</header>
